@model lmv9.Models.item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.company.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sell_item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sell_item)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.portions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.portions)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.item_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
