@model IEnumerable<lmv9.Models.customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nome")
        </th>
        <th>
            @Html.DisplayName("Telefone")
        </th>
        <th>
            @Html.DisplayName("Genero")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.person.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.person.phones.First().phone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.custumer_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.custumer_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.custumer_id })
        </td>
    </tr>
}

</table>
