@model lmv9.Models.appointment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="modal-content">
        <div class="modal-header" style="background-color: aliceblue;">
            <h2>Agendamento</h2>
        </div>
        <div class="modal-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <table class="table card-table table-striped table-vcenter" id="tblModalAgenda">
                <thead>
                    <tr>
                        <th colspan="2">
                            <label id="modal-AgendaData" >Quarta-feira, 19 de Junho de 2019</label>
                            <input type="hidden" id="dataEntrada" name="dataEntrada" value="19/06/2019 8:00:00 AM" />

                            <br> Horario: <label id="modal-AgendaHorario">8</label>:00 hrs
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" class="form-control" id="txtNomeCliente" placeholder="Nome" style="display:none">
                            @Html.DropDownList("people", null, htmlAttributes: new { @class = "form-control" })
                           @* @Html.ValidationMessageFor(model => model.customer_id, "", new { @class = "text-danger" })*@
                        </td>
                        <td class="w-1"><span class="avatar"><i class="fe fe-user-plus"></i></span></td>
                    </tr>
                    <tr id="txtNewUserContact" style="display:none">
                        <td>
                            <input type="tel" id="txtNumeroCliente" pattern="[0-9]*" placeholder="Contato" class="form-control" maxlength="15">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer" style="">
            <input type="submit" value="Marcar" class="btn btn-primary" />
            @*<a id="confirm" class="btn btn-primary" href="#">Marcar</a>*@
            <a id="cancel" class="btn btn-default" data-dismiss="modal">Não</a>
            <input type="hidden" value="false" id="isNewUser">
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" language="javascript">
        $(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Proximo',
                prevText: 'Anterior',
                showOn: "button"
            }).css("display", "inline-block")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>
}
